anonymous_enable={{ anonymous_enable }}
anon_upload_enable={{ anon_upload_enable }}
anon_root=/var/ftp/pub/upload/
anon_mkdir_write_enable=YES
write_enable=YES
local_enable={{ local_enable }}
dirmessage_enable=YES
xferlog_enable=YES
log_ftp_protocol=YES

connect_from_port_20=YES
pam_service_name=YES
userlist_enable=YES

#my IP address = {{ ansible_facts['default_ipv4']['address'] }}
